.bottom-bar {
    height:92px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    position: fixed;
    z-index: 2;
    left:0;
    bottom:0;
    box-shadow: 0px 0px 2px 2px rgba(180, 180, 180, 0.1);
}

.bottom-bar .link {
    width: 100%;
    height:53px;
    background-color: #cbcbcb;
    border-radius: calc(53px / 2);
    padding: 0px 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
}

.bottom-bar .link.activated {
    background-color: #32B72F; 
    font-weight: 700;
}

.bottom-bar .link span {
    width: 100%;
}