.menu {
    width: 100%;
    padding-top: 16px;
}

.menu ul {
    display: flex;
    overflow-x: scroll;
    height: 100%;
    padding: 17px 18px;
}

.menu li {
    width: 172px;
    min-height: 100%;
    background-color: #FFFFFF;
    margin-right: 16px;
    border-radius: 9px;
    flex-shrink: 0;
    box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 14px 14px;
    position: relative;
}

.menu li:last-child {
    margin-right:0px;
}

.menu img {
    height: 87px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 7px;
}

.menu-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
    margin-left: 18px;
}

.menu .item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 8px;
}

.menu .item-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    margin-bottom: 12px;
}

.menu .item-price {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.menu li.activated-item {
    box-shadow: inset 0px 0px 0px 7px #32B72F;
}

.menu .select-quantity {
    display:none;
}

.menu .activated-item.select-quantity {
    width: 47px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 13px;
    right: 11px;
    font-size: 16px;
}

.menu .activated-item .red {
    color: #CF2B2B;
}

.menu .activated-item .green {
    color: #32B72F;
}